PANEL_APP_NAME=Pelican
PANEL_APP_ENV=production
PANEL_APP_DEBUG=false
PANEL_APP_URL=http://localhost
PANEL_APP_TIMEZONE=UTC
PANEL_APP_LOCALE=en

PANEL_DATABASE_DRIVER=mysql
PANEL_DATABASE_HOST=127.0.0.1
PANEL_DATABASE_PORT=3306
PANEL_DATABASE_DATABASE=pelican
PANEL_DATABASE_USERNAME=pelican
PANEL_DATABASE_PASSWORD=

PANEL_REDIS_HOST=127.0.0.1
PANEL_REDIS_PORT=6379
PANEL_REDIS_PASSWORD=
PANEL_REDIS_DB=0
